<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordManager"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".PlatformDetails"
            android:exported="false" />
        <activity
            android:name=".WebModal"
            android:exported="false" />
        <activity
            android:name=".AddPlatformActivity"
            android:exported="false" />
        <activity
            android:name=".WebPageRVAdapter"
            android:exported="false" />
        <activity
            android:name=".Dao"
            android:exported="false" />
        <activity
            android:name=".WebPageActivity"
            android:exported="false" />
        <activity
            android:name=".InputPassword"
            android:exported="false"
            android:label="@string/title_activity_input_password"
            android:theme="@style/Theme.PasswordManager" />
        <activity
            android:name=".CreatePassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>